html, button{
    background-color: #0c406b;
    color: rgb(255, 250, 240);
}

.season{
    top: 30px;
    position: absolute;
    width: 300px;
    background-color: #1E96FA;
}

.season *{
    position: relative;
}

#spring0{
    left: 20px;
}
#summer1{
    left: 330px;
}

#fall2{
    left: 640px;
}
#winter3{
    left: 950px;
}

h2{
    width: 100%;
    text-align: center;
    font-family: serif;
}

button{
    margin: 6px;
    margin-top: 0px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #072a15;
    background-color: #6489c5;    
}
  
button:hover {
    background-color: #4caf72; /* Green */
    transition-duration: 0.3s;
}

button:active{
    background-color: #240820;
    transform: translateY(3px);
    transition-duration: .1s;
}

.draw_result{
    border-style: double;
    padding: 3px;
    font-size: x-large;
}

.season_el{
    margin: 6px;
}